.my-container{
 background-color: skyblue;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.btn1 {
  justify-content: center;
  width:50%;
  margin-left:25%;
  margin-right:25%;
}
.section {
  justify-content: center;
}

  
  