
<hr>
  <div class="px-4 py-5 my-5 text-center">
    
    <h1 class="display-5 fw-bold">MCQ's</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><u>Welcome</u><br>
      Before you start here are some rules and regulations.</p>
      <ul>
        <li>You have a limited time to complete this quiz</li>
        <li>Once you select any answer, it cant be undone.</li>
        <li>You cant exit Quiz while playing.</li>
        <li>You will get points on basis of your correct answerss</li>
      </ul>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" href="#services">Start Quiz</button>
       
      </div>
    </div>
  </div>
 <hr>